<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') -%>
  </head>
  <body>
    <h1></h1>
    <div id="container">
      <div id="calendar">
        <div class="weekdays">
          <div class="weekday">
            <a href="">Mon</a><br />
            <a href="/User/NewEvent">+</a>
          </div>
          <div class="weekday">
            <a href="">Tue</a><br />
            <a href="/User/NewEvent">+</a>
          </div>
          <div class="weekday">
            <a href="">Wed</a><br />
            <a href="/User/NewEvent">+</a>
          </div>
          <div class="weekday">
            <a href="">Thuy</a><br />
            <a href="/User/NewEvent">+</a>
          </div>
          <div class="weekday">
            <a href="">Fri</a><br />
            <a href="/User/NewEvent">+</a>
          </div>
          <div class="weekday">
            <a href="">Sat</a><br />
            <a href="/User/NewEvent">+</a>
          </div>
          <div class="weekday">
            <a href="">Sunday</a><br />
            <a href="/User/NewEvent">+</a>
          </div>
        </div>
        <div class="days">
          <% days.forEach((day) => { %>
            <div> <a href="/User/Day/<%=day.date%>"><%=day.date%></a>
           <a href="/User/NewEvent">+</a>
           <ul>
            <% events.forEach((event) => { %>
              <%if(event.day === day.date) {%>
            <li>
              <a href="/User/Event/<%=event._id%>"><%=event.title%></a><br />
              <form action="/User/Event/<%=event._id%>?_method=DELETE" method="POST">
                <input type="submit" value="X" />
              </form>
            </li>
            <% }}) %>
          </ul>
         </div>
        <% })%>
        </div>
      </div>
    </div>
  </body>
</html>
