<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('../partials/head.ejs') -%>
  </head>
  <body>
    <h1><%=user.email%>'s Calendar</h1>
    <div id="calendar-container">
          <div class="Mon"class="day">
            <a href="">Mon</a><br />
            <a href="/User/NewEvent">+</a>
            <%- include('../partials/eventList.ejs')-%>
          </div>
          <div class="Tue"class="day">
            <a href="">Tue</a><br />
            <a href="/User/NewEvent">+</a>
            <%- include('../partials/eventList.ejs')-%>
          </div>
          <div class="Wed"class="day">
            <a href="">Wed</a><br />
            <a href="/User/NewEvent">+</a>
            <%- include('../partials/eventList.ejs')-%>
          </div>
          <div class="Thu"class="day">
            <a href="">Thuy</a><br />
            <a href="/User/NewEvent">+</a>
            <%- include('../partials/eventList.ejs')-%>
          </div>
          <div class="Fri"class="day">
            <a href="">Fri</a><br />
            <a href="/User/NewEvent">+</a>
            <%- include('../partials/eventList.ejs')-%>
          </div>
          <div class="Sat"class="day">
            <a href="">Sat</a><br />
            <a href="/User/NewEvent">+</a>
            <%- include('../partials/eventList.ejs')-%>
          </div>
          <div class="Sun"class="day">
            <a href="">Sunday</a><br />
            <a href="/User/NewEvent">+</a>
            <%- include('../partials/eventList.ejs')-%>
          </div>
    </div>
  </body>
</html>
