<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') -%>
  </head>
  <body>
    <section class="form-container">
      <h1><%=event.title%></h1>
      <br />
      <form class="form-group" action="/User/Event/<%=event._id%>?_method=PUT" method="POST">
        <label for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="title"
          id="titl"
          value="<%=event.title%>"
        />
        <small id="passwordHelpBlock" class="form-text text-muted">
            Change the title of your event
          </small>
        <br />
        <label for="day">Day</label>
            <input class="form-control"type="date" name="day"id="day" value="<%=day%>"><br>
        <input class="form-control"type="submit" value="Submit Changes" />
      </form><br>

      <form action="/User/Event/<%=event._id%>?_method=DELETE" method="POST">
        <input class="form-control"type="submit" value="Delete Event" />
      </form>
    </section>
  </body>
</html>
