<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') -%>
  </head>
  <body>
    <div class="show-day-page">
      <h1 class="day-header"><%=day.date%></h1>

      <div id="day-grid">
        <%dayHours.am.forEach((hour) => { %>
            <div class="hours">
                <div>
                <%=hour%>:00
                <a id="new-event-button"href="/User/NewEvent/Day/<%=day.dayofMonth%>">+</a>
                </div>
                <% events.forEach((event) => { %> <%if(event.day === day.date) {%>
                    <%if(event.hour === hour) {%>
                        <div class="event-box day-events">
                            <a href="/User/Event/<%=event._id%>"><%=event.title%></a>
                            <form action="/User/Event/<%=event._id%>?_method=DELETE" method="POST">
                              <input id="btn-danger" type="submit" value="" />
                            </form>
                        </div>
                <%}%>
                    <% }}) %>
            </div>
         <% })%>
      </div>
    </div>
  </body>
</html>
